.statisticsBaseCard {
    margin-bottom: 20px;
    // background-color: #5187ce;
    // border-radius: 10px;


}

.processDrawerStepDetails {
    // height: 300px;
    width: 100%;
    background-color: rgb(215, 238, 255);
}

.processDrawerRejectDetails {
    width: 100%;
    background-color: rgb(255, 236, 236);
}

.approvalModalPicture {
    margin: 5px;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;

}

.deliveryDetails {
    border-radius: 10px;
    // background-color: rgb(215, 238, 255);
    display: flex;
    justify-self: center;
}

.StepItemButton {
    width: 40%,

}

.isActive {
    // background-color: aqua;
    border-radius: 10px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    border: 3px solid rgb(33, 129, 255);
    background-color: rgb(238, 245, 255);

}

.statisticsCard {
    // background-color: #e8f5ff;
    border-radius: 10px;
    // border-left: 5px solid rgb(33, 129, 255);

}

.StatisticTitle {
    // padding-left: 10;
    font-size: 15px;
    font-weight: bolder;
    // padding-left: 10px;
    // border-left: 3px solid rgb(33, 129, 255);
}